# =========================
# GLOBAL
# =========================
.DS_Store
.env
.env.*
*.log
*.sqlite3

# =========================
# NODE / NEXT.JS (FRONTEND)
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# =========================
# PYTHON / FASTAPI (BACKEND)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

backend/.Python
backend/venv/
backend/.venv/
backend/env/

backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/

# FastAPI / general
backend/.env
backend/.env.*

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db